<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/home/header.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Gestion Pièces Auto - Accueil</title>
</head>
<body>
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Piece Auto</title>
</head>
<body>
    <header class="header-title">
        <h1>Gestion de piéces</h1>
        <p class="subtitle">Système de gestion des pièces automobiles</p>

        <nav>
            <ul>
                <li>
                    <a th:href="@{/piece/new}">Ajouter une piece</a>
                </li>
                <li>
                    <a th:href="@{/piece/carrosserie}">Liste des piéces de carrosseries</a>
                </li>
                <li>
                    <a th:href="@{/piece/moteur}">Liste des piéces de moteurs</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <div>
                <div th:each="pieceAuto: ${pieceAutos}">
                    <div>
                        <h3 th:text="${pieceAuto.nom}"></h3>
                    </div>
                    <div>
                        <p><span th:text="${pieceAuto.reference}"></span></p>
                        <p><span th:text="${pieceAuto.marque}"></span></p>
                        <p><span th:text="${pieceAuto.prix}"></span></p>
                    </div>
                    <div>
                        <a th:href="@{/piece/{id}(id=${pieceAuto.id})}">Voir details</a>
                        <a th:href="@{/piece/edit/{id}(id=${pieceAuto.id})}">Modifier</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>
</html>